

body {
    padding: 0px;
    margin: 0px ;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
header {
       display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 0 20px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li a {
    display: block;
    margin: 14px 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.logo img {
   height: 50px;
   width: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding:0 0 0 20px;
    margin-top: 0px;
}
.navigation {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    gap: 30px;
    }
span a {
    background-color: #1a56e8;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
span a:hover{
    color: black;
}
ul li a:hover {
    color: blue;
}
ul span {
    display: block;
}
 .les_campus .sous-titre {
    color: blue;
    margin-left: 50px;

}
 .les_campus h1 {
    margin-left: 50px;
 }
 .les_campus .campus-safi {
    margin-left: 50px;
    color: blue;
 }
 .les_campus .three-campus p {
    margin-left: 20px;
 }
  .les_campus .safi {
    border: 2px solid gray;
    width: fit-content;
    margin-left: 30px;
    border-radius: 2%;
  }
    .les_campus .yousoufia {
    border: 2px solid gray;
    width: fit-content;
     border-radius: 2%;
  }
    .les_campus .nador {
    border: 2px solid gray;
    width: fit-content;
    margin-right: 30px;
     border-radius: 2%;
  }
   .les_campus .campus-yousoufia {
    margin-left: 50px;
    color: blue;
 }
  .les_campus .campus-nador {
    margin-left: 50px;
    color: blue;
 }
  .les_campus .three-campus {
    display: flex;
    justify-content: space-between;
  }
  footer {
    background-color: black;
    height: 250px;
  }
  footer .footerr {
    display: flex;
    justify-content: space-between;
  }
  footer .left-side {
    color: white;
    margin-left: 30px;
  }
  footer .midlle {
    color: white;
  }
  footer .right-side {
    color: white;
    margin-right: 30px;
  }
  hr {
    color: gray;
  }
  footer .left-paragraph {
    color: white;
    margin-left: 30px;
  }
  footer .right-paragraph {
    color: white;
    margin-right: 30px;
  }
  footer .les-paragraphes {
    display: flex;
    justify-content: space-between;
  }
  footer .midlle .explore {
    color: yellowgreen;
  }
  footer .right-side .trouver {
    color: yellowgreen;
  }